li,
or,
ul {
  list-style: none;
  font-family: "Amiri Quran", serif;
}


h1 {
  font-family: "Amiri Quran", serif;
  margin-left: 1.5em;
  margin-bottom: 0;
}

h2 {
  text-decoration: underline;
  margin-left: 2em;
  margin-top: 0;
  font-size: 1.6em;
  font-family: "Amiri Quran", serif;
}

body {
  color: black;
  background-color: #0a0000;
  background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}



/* label {
  display: flex;
  justify-content: center;
  

} */

.main-nav{
  background: 	#FAF9F6 ;
  
  padding: 0;
}

.main-nav li{
  list-style: none;
  display: inline-block;
  position: relative; /*with respect to this element dropdown-menu is positioned*/
}




a.nav-item{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

