li,
or,
ul {
  list-style: none;
  font-family: "Amiri Quran", serif;
}

/* ul > li{
  backdrop-filter: blur(2px);
  border: 1px solid black;
  border-radius: 5px;
} */

a {
  width: fit-content;
  color: black;
  margin-left: 1em;
}
a:hover {
  text-shadow: 1px 1px 2px black;
}

h1 {
  font-family: "Amiri Quran", serif;
  margin-left: 1.5em;
  margin-bottom: 0;
}

h2 {
  text-decoration: underline;
  margin-left: 2em;
  margin-top: 0;
  font-size: 1.6em;
  font-family: "Amiri Quran", serif;
}

h3 {
  margin-left: 1.5em;
  text-decoration: underline;
}

body {
  color: black;

  background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}

.favBtn {
  margin-bottom: 3em;
}
.bookWrapper {
  backdrop-filter: blur(2px);
  border: 1px solid black;
  border-radius: 5px;
}

.main-nav {
  background: #faf9f6;

  padding: 0;
}

.main-nav li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

a.nav-item {
  /* display: inline-block; */
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

input {
  margin: 1em;
}

.commBtn {
  margin-left: 2.6em;
}

/* .bookWrapper{
  width: 20vw;
} */

.commentBtn {
  margin-left: 2.6em;
}
